h1 {
  margin-bottom: 100px;
  text-align: center;
  font-family: '8BITWONDERNominal';
  font-size: 5em;
}

h2 {
  font-family: '8BITWONDERNominal';
}

html {
  height: 100%;
  width: 100%;
}

.gameScreen {
  margin-top: 10%;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 2%;
  size: contain;
  min-width: 1150px;
  font-family: '8BITWONDERNominal';
}
.input {
  margin-bottom: 75px;
  text-align: center;
}

.centerstuff {
  display: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
  /*border-top: 3px solid black;*/
}
.counters {
  display: none;
}

.grid {
  width: 100%;
  margin-bottom:100px;
  background-color: red;
}

input {
  font-family: monospace;
  font-weight: bold;
  float: left;
  width: 100px;
}

#playerName {
  width: 100px;
}

.labels {
  text-align: right;
}


.height_min {
  height: 30px;
}

.gridColumn {
  float: left;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  font-size: 15px;
  /*background-color:red;*/
  text-align: center;
  font-family: '8BITWONDERNominal';
  color: blue;
}

.gridSquare{
  width:48px;
  height: 48px;
  position: relative;
}

#shake {
  height: 100px;
  width: 100px;
  background-color: black;
}

/*img {
  display: none;
}*/

/*.gridRow {
  float: left;
  border: 1px solid green;
}*/

.coordinateHighlight {
  background-color: yellow;
}

/*.hasMine {
	background-color: black;
}*/
.skill-button {
  width: 15%;
}

.leaderboard {
  margin-bottom: 100px;
  margin-top: 20px;
  padding: 50px;
  background-color: rgba(0,0,0, 0.8);
  border-radius: 2%;
  size: contain;
  color: white;
  font-family: monospace;
}

.leaderboard, .easyHighScore, .mediumHighScore, .hardHighScore {
  display: none;
}

.easyBG {
  height: cover;
  width: 100%;
  background-image: url(../img/easyBG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.mediumBG {
  height: cover;
  width: 100%;
  background-image: url(../img/mediumBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mediumBorder {
  border-color: blue;
}

.hardBG {
  height: cover;
  width: 100%;
  background-image: url(../img/hardBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hardBorder {
  border-color: red;
}

.skill-button:hover {
  background-color: maroon;
  border-radius: 10%;
  opacity: 0.5;
}

button {
  margin-top: 5px;
}

.clicked {
  background-color: maroon;
  border-radius: 10%;
}
