h1 {
  margin-bottom: 100px;
  text-align: center;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}
.input {
  margin-bottom: 75px;
  text-align: center;
}

.greenborder {
  border: 1px solid green;
}

.redborder {
  border-top: 1px solid red;
}

.myButton {
  margin: 10px;
  width: 60px;
  display: none;
}

.centerstuff {
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid black;
}

.height_min {
  height: 30px;
}

.gridColumn {
  float: left;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  font-size: 15px;
  /*background-color:red;*/
  text-align: center;
  line-height: 20px;
  padding-top: 17px;
  font-family: '8BITWONDERNominal';
  color: blue;
}

.gridSquare{
  width:48px;
  height: 48px;
  top: -37px;
  position: relative;
}

/*img {
  display: none;
}*/

/*.gridRow {
  float: left;
  border: 1px solid green;
}*/

.coordinateHighlight {
  background-color: yellow;
}

/*.hasMine {
	background-color: black;
}*/
